// RESET CSS ---------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

//Sora
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

//Newsreader
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Sora:wght@100..800&display=swap');

//ALL
* {
    box-sizing: border-box;
}

//HTML
html {
    font-size: 62.5%;
}

// Body
body {
    overflow-y: auto;
    font-family: $font-primary;
    color: $primary-color;  
}

//Section + Container
section {
    display: flex;
    width: 100%;
    padding: clamp(6rem, calc(6rem + ((1vw - 0.39rem)* 1.9048)), 8rem) clamp(2rem, calc(2rem + ((1vw - 0.39rem)* 7.619)), 10rem);
    margin-left: auto;
    margin-right: auto;
    .container {
        display: flex;
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Paragraph
p{
    font-family: $font-primary;
    font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.36rem) * 0.1852)), 1.6rem);
    line-height: auto;
    color: $secondary-color;
}

//Headings
h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;

    span{
        font-family: $font-primary;
        font-weight: 400;
        font-style: normal;
    }
}

h1 {
    font-size: clamp(4.4rem, calc(4.4rem + ((1vw - 0.36rem) * 1.8519)), 6.4rem);
}

h2 {
    font-size: clamp(3.6rem, calc(3.6rem + ((1vw - 0.36rem) * 1.1111)), 4.8rem);
}

h3 {
    font-size: clamp(2.8rem, calc(2.8rem + ((1vw - 0.36rem) * 0.7407)), 3.6rem);
}

h4 {
    font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.36rem) * 0.5556)), 3.2rem);
}

h5 {
    font-size: clamp(2rem, calc(2rem + ((1vw - 0.36rem) * 0.3704)), 2.8rem);
}

h6 {
    font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.36rem) * 0.1852)), 2.4rem);
}



